package partials

templ Banner() {
<section>
    <div class="flex items-center">
        <img src="/images/me.png" class="rounded-full w-[125px] border border-zinc-700 bg-zinc-800 mr-8"/>
        <div>
            <h1 class="font-bold text-3xl">Micah Shackelford</h1>
            <p class="mt-2 text-zinc-500 text-lg">Full-Stack Software Engineer</p>
        </div>
    </div>
</section>
}