package partials

templ About() {
<section>
    <h3 class="text-3xl tracking-wide font-bold text-zinc-500">
        about
    </h3>

    <p class="mt-4 text-lg leading-loose">
        I'm a full-stack software engineer based out of Nashville Tennessee. 
        Currently, I am working at TechnologyAdvice. I really enjoy crafting 
        elegant solutions to complex problems. 
    </p>
</section>
}